@media (max-width:1500px){
    main .wrapp .container__main .registr{
        font-size: 17px;
    }

    main .wrapp .container__main .country p{
        font-size: 20px;
        padding-right: 20px;
    }
    
}

@media (max-width:1300px){
    main .wrapp .container__main .center{
        padding-left: 20px;
        padding-top: 90px;
    }

    .togethere{
        background-color: #ABC5CF;
        border-radius: 25px;
        width: 98%;
    }

    main .wrapp .container__main .country p{
        font-size: 28px;
        padding-right: 30px;
    }

    main .wrapp .container__main .country{
        width: 85%;
    }

    main .wrapp .container__main .country{
        width: 98%;
    }

    main .wrapp .container__main .country-trafick{
        width: 98%;
    }

    .healtfy{
        display:flex;
        flex-direction: column;
        width: 96%;
        height: 100%;
        border-radius: 25px;
    }

    .br_1 {
        display: none;
      }

    
    #left,
    #right,
    .text{
        text-align: center;
        width: 100%;
        font-size: 20px;
    }

    .container-1{
        border-bottom: 2px solid red;
    }

    .container-2{
        border-bottom: 2px solid red;
    }

    .more{
        display: none;
    }




}

@media (max-width:1050px){
    .h1{
        display: flex;
    }

    main .wrapp .container__main .registr{
        font-size: 18px;
    }
}

@media (max-width:850px){
    footer .wrapp .container__footer .link{
        padding-left: 24px;
        padding-right: 20px;
        justify-content: space-between;
    }
}

@media (max-width:768px){
    main .wrapp .container__main .registr{
        font-size: 10px;
    }

    main .wrapp .container__main .center .togethere .country p {
        font-size: 17px;
        margin-left: 20px;
    }

    main .wrapp .container__main .center .togethere .country p {
        font-size: 14px;
        margin-left: 20px;
    }

    .container__header .link a{
        color: #FFFEFE;
        text-decoration: none;
        font-size: 22px;
    }
    .none__{
        display: none;
    }

    main .wrapp .container__main .country p {
        font-size: 15px;
        padding-right: 23px;
    }

    main .wrapp .container__main .country .country-block a {
        font-size: 15px;
        text-decoration: none;
        color: rgb(159, 159, 159);
    }

    main .wrapp .container__main .center {
        padding-top: 0px;
    }

    main .wrapp .container__main .country .input__find {
        width: 50%;
        height: 45px;
        font-size: 18px;
        border: #000000;
        border-radius: 5px;
    }

    .country-trafick p {
        font-size: 15px;
        margin: 8px 0 0 48px;
    }

    .button__find {
        font-size: 16px;
        width: 146px;
        height: 44px;
        margin: 9px 0px 0px 48px;
    }

    #left, #right, .text {
        text-align: center;
        width: 100%;
        font-size: 14px;
    }

    .news .container p {
        font-size: 16px;
    }

    .title{
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }

    main .wrapp .container__main .country .button__find {
        width: 100px;
        height: 45px;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        margin-left: 17px;
        margin-bottom: 7px;
    }

    .container__header .link a {
        color: rgb(255, 254, 254);
        text-decoration: none;
        font-size: 18px;
    }
}

@media (max-width:620px){
    main .wrapp .container__main .registr{
        font-size: 10px;
    }

    .icons{
        width: 35px;
    }

    footer .wrapp .container__footer .link .size{
        font-size: 16px;
    }

    footer .wrapp .container__footer .link{
        padding-left: 40px;
        padding-right: 0px;
        justify-content: space-between;
    }
}

@media (max-width:480px){
    main .wrapp .container__main .center{
        padding-top: 0px;
    }

    main .wrapp .container__main .center .togethere .country p {
        font-size: 10px;
        margin-left: 0px;
    }

    main .wrapp .container__main .country .input__find{
        height: 35px;
        font-size: 15px;
    }

    main .wrapp .container__main .country .button__find{
        width: 70px;
        height: 35px;
        font-size: 16px;
    }

    .country-trafick p{
        font-size: 16px;
        margin-left: 25px;
    }

    .title{
        font-size: 16px;
    }

    #left,
    #right,
    .text{
        text-align: center;
        font-size: 14px;
    }

    .button__find{
        font-size: 16px;
        width: 150px;
        height: 45px;
        margin: 9px 0px 0px 48px;
    }

    main .wrapp .container__main .registr{
        font-size: 8px;
    }

    .container__header .link a{
        color: #FFFEFE;
        text-decoration: none;
        font-size: 10px;
    }

    .image__header{
        width: 45px;
    }

    main .wrapp .container__main h1{
        font-size: 20px;
    }

    .container__header{
        background-color: black;
        height: 55px;
    }

    main .wrapp .container__main .country .country-block a{
        font-size: 10px;
    }

    main .wrapp .container__main .country p{
        font-size: 10px;
    }



    footer .wrapp .container__footer .link .size{
        font-size: 10px;
        text-align: center;
    }

    footer .wrapp .container__footer .link{
        display: flex;
        align-items: center;
        padding-left: 40px;
        padding-right: 0px;
        justify-content: space-between;
    }

    .news .container{
        margin: 5px 18px 0px 18px;
    }

    .news .container p {
        font-size: 14px;
    }

    footer .wrapp .container__footer .link .media a{
        padding-left: 20px;
    }
    
    .icons{
        width: 30px;
    }

    .country-trafick p {
        font-size: 14px;
        margin-left: 25px;
    }
}